/* button */
/* size */
/* xs = 150px */
/* sm = 155px */
/* md = 160px */
/* lg = 190px */
/* full = 100% */

.button {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 4px 0 0 #ff8bae;
  background-color: #ed4c7c;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #e6376b;
  box-shadow: 0 4px 0 0 #ff8bae;
}

.button.disabled {
  background-color: #cccccc;
  box-shadow: 0 4px 0 0 #dcdcdc;
  cursor: not-allowed;
}

.button.xs {
  max-width: 150px;
}
.button.sm {
  max-width: 155px;
}
.button.md {
  max-width: 160px;
}
.button.lg {
  max-width: 190px;
}
.button.full {
  max-width: initial;
}

.button-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

/* carousel icon */
/* size */
/* xs = w: 35px, H: 70px */
/* sm = w: 62px, H: 124px */
/* md = w: 62px, H: 124px */

.carousel-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.carousel-icon.xs {
  width: 35px;
  height: 70px;
}

.carousel-icon.sm {
  width: 42px;
  height: 86px;
}

.carousel-icon.md {
  width: 62px;
  height: 124px;
}

.carousel-icon.previous {
  background-image: url("../images/carousel_previous.svg");
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-icon.previous:hover {
  background-image: url("../images/carousel_previous_hover.svg");
}

.carousel-icon.previous.disabled {
  background-image: url("../images/carousel_previous_disabled.svg");
  cursor: not-allowed;
}

.carousel-icon.next {
  background-image: url("../images/carousel_next.svg");
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-icon.next:hover {
  background-image: url("../images/carousel_next_hover.svg");
}

.carousel-icon.next.disabled {
  background-image: url("../images/carousel_next_disabled.svg");
  cursor: not-allowed;
}

/* course-card - start */
.course-card {
  width: 100%;
  max-width: 520px;
  min-height: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(119, 119, 119, 0.16);
  background-color: #ffffff;
  margin-top: 4px;
  overflow: hidden;
}

.course-card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 14px;
}

.course-card-info-image {
  width: 100%;
  max-width: 220px;
  height: 165px;
}

.course-card-info-image > img {
  height: 100%;
  border-radius: 10px;
}

.course-card-info-content {
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
}

.course-card-info-content-tag {
  width: 100%;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 6px;
}

.course-card-info-content-tag > p {
  color: #50b1ff;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-right: 12px;
}

.course-card-info-content-tag > p:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 10px;
  background-color: #cccccc;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.course-card-info-content-text {
  flex: 1;
  font-size: 20px;
  color: #707070;
  font-weight: bold;
}

.course-card-info-content-teacher {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.course-card-info-content-teacher-avatar {
  max-width: 45px;
  margin-right: 8px;
}

.course-card-info-content-teacher-avatar > img {
  width: 100%;
  height: 100%;
}

.course-card-action {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 14px;
  padding-bottom: 22px;
}

.course-card-action > button:not(:last-child) {
  margin-right: 8px;
}

.course-card-bottom {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0px 28px;
  background-color: #eeeeee;
  color: #707070;
}

.course-link {
  color: #50b1ff;
  cursor: pointer;
}
/* course-card - end */
