/* button */
/* size */
/* xs = 150px */
/* s = 155px */
/* m = 160px */
/* l = 190px */
/* full = 100% */

.button {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 4px 0 0 #ff8bae;
  background-color: #ed4c7c;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #e6376b;
  box-shadow: 0 4px 0 0 #ff8bae;
}

.button.disabled {
  background-color: #cccccc;
  box-shadow: 0 4px 0 0 #dcdcdc;
  cursor: not-allowed;
}

.button.xs {
  max-width: 150px;
}
.button.s {
  max-width: 155px;
}
.button.m {
  max-width: 160px;
}
.button.l {
  max-width: 190px;
}
.button.full {
  max-width: initial;
}

.button-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

/* carousel icon */
.carousel-icon {
  width: 62px;
  height: 124px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  cursor: pointer;
}

.carousel-icon.previous {
  background-image: url("../images/carousel_previous.svg");
  left: 0px;
}

.carousel-icon.previous:hover {
  background-image: url("../images/carousel_previous_hover.svg");
}

.carousel-icon.previous.disabled {
  background-image: url("../images/carousel_previous_disabled.svg");
  cursor: not-allowed;
}

.carousel-icon.next {
  background-image: url("../images/carousel_next.svg");
  right: 0px;
}

.carousel-icon.next:hover {
  background-image: url("../images/carousel_next_hover.svg");
}

.carousel-icon.next.disabled {
  background-image: url("../images/carousel_next_disabled.svg");
  cursor: not-allowed;
}
