.layout {
  width: 100%;
  height: 100%;
  background-color: #e8f5ff;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: -100px; /* 因為 footer 有 margin-bottom 100px */
}

.class-container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 108px 1vw;
}

@media (max-width: 767px) {
  .class-container {
    padding: 60px 10px 108px 10px;
  }
}

.my-class {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-class-header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 99;
}

.my-class-header-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #50b1ff;
  flex: 1;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.my-class-header-item:not(:last-child) {
  border-right: 0.5px solid #ffffff;
}
.my-class-header-item:hover {
  background-color: #2299ee;
}
.my-class-header-item.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.my-class-header-item-icon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.my-class-header-item-icon > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .my-class-header {
    display: none;
  }
}

@media (max-width: 767px) {
  .my-class-header {
    height: 40px;
    top: 60px;
  }

  .my-class-header-item {
    font-size: 16px;
  }

  .my-class-header-item-icon {
    width: 24px;
    height: 24px;
  }
}

/* my-class rwd */

/* left */

.left {
  height: fit-content;
  height: -moz-fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-wrapper {
  width: 356px;
  display: flex;
  flex-direction: column;
  margin-top: 310px;
  margin-right: 2.2vw;
  padding: 30px 18px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  z-index: 10;
}

.left-popup {
  width: 100vw;
  height: 940px;
  padding: 20px 44px 20px 58px;
  background-color: #f5f5f5;
  border-radius: 20px;
  position: absolute;
  bottom: 0px;
  left: 332px;
  z-index: 9;
}

.left-popup-wrapper {
  height: 100%;
}

/* left rwd */
@media (min-width: 1440px) {
  .left-wrapper {
    margin-right: 32px;
  }
}

@media (max-width: 1023px) {
  .left {
    width: 100%;
    height: auto;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 80px;
  }

  .left[data-type=""] {
    display: none;
  }

  .left-wrapper {
    display: none;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    padding: 24px 8px 20px 8px;
    border-radius: 0px;
  }

  .left[data-type="schedule"] .left-wrapper {
    display: flex;
  }

  .left-wrapper .calendar {
    max-width: 380px;
  }

  .left-popup {
    height: 100%;
    position: initial;
  }

  .left-popup-wrapper {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  .left .left-button,
  .left .banner {
    display: none;
  }

  .left-popup.schedule {
    padding-top: 40px;
    border-radius: 0px;
  }

  .left-popup.reserve {
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .left {
    top: 100px;
  }

  .left-wrapper {
    padding-bottom: 0px;
  }

  .left-popup.schedule {
    padding: 16px;
  }

  .left-popup.reserve {
    padding: 12px;
  }
}

/* calendar */
.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.calendar-title {
  font-size: 24px;
  color: #50b1ff;
  margin-bottom: 16px;
}

.calendar-time {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #50b1ff;
  border-bottom: 1px solid #50b1ff;
  margin-bottom: 48px;
}
.calendar-time > .calendar-time-clock {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.calendar-time > .calendar-time-turn {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../images/calendar_turn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.calendar-time .calendar-time-text {
  flex: 1;
  font-size: 18px;
  color: #8f8f8f;
  margin-right: 28px;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.calendar-header-text {
  color: #50b1ff;
  font-size: 18px;
}

.calendar-header-button {
  display: flex;
  flex-direction: row;
}

.calendar-header-button-icon {
  width: 16px;
  height: 16px;
  margin: 0px 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.calendar-header-button-icon.previous {
  background-image: url("../images/calendar_arrow_l.svg");
}

.calendar-header-button-icon.next {
  background-image: url("../images/calendar_arrow_r.svg");
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
}

.calendar-body-item {
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
  font-size: 18px;
  color: #707070;
  text-align: center;
}

.calendar-body-item-text {
  width: 100%;
  max-width: 34px;
  height: 34px;
  margin-bottom: 4px;
  border-radius: 4px;
  line-height: 34px;
}

.calendar-body-item-text.day {
  cursor: pointer;
}

.calendar-body-item-text.day.active {
  color: #ffffff;
  background-color: #50b1ff;
}

.calendar-body-item-text.day:hover:not(.active) {
  background-color: #eeeeee;
}

.calendar-body-item-text.day.empty:hover {
  background-color: initial;
  cursor: initial;
}

.calendar-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #50b1ff;
  margin: 0px 2px;
}

.calendar-dot[data-is-marked="false"] {
  display: none;
}

.calendar-body-item-more {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-body-item-more[data-is-more="false"] {
  display: none;
}

@media (max-width: 1023px) {
  .calendar-title {
    display: none;
  }

  .calendar-time {
    margin-bottom: 20px;
  }

  .calendar-time .calendar-time-text {
    font-size: 20px;
  }

  .calendar-header-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .calendar {
    margin-bottom: 12px;
  }

  .calendar-time {
    margin-bottom: 12px;
  }

  .calendar-time .calendar-time-text {
    font-size: 18px;
  }

  .calendar-header-text {
    font-size: 20px;
  }
}

.plus {
  margin: 0px 2px;
  width: 6px;
  height: 6px;
  position: relative;
}
.plus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #50b1ff;
  width: 6px;
  height: 1px;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.plus::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #50b1ff;
  width: 1px;
  height: 6px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.banner {
  margin-top: 60px;
}

.banner-image {
  width: 100%;
  max-width: 320px;
}

.banner-image > img {
  width: 100%;
}

.banner-dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.banner-dot-item {
  width: 6px;
  height: 6px;
  background-color: #d8d8d8;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

/* schedule start */
.schedule {
  width: 420px;
}

.schedule-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 28px;
}

.schedule-wrapper {
  height: calc(100% - 78px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.schedule-item {
  margin-bottom: 24px;
}

.schedule-item-header {
  width: 312px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 28px;
  margin-bottom: 22px;
  background-color: #50b1ff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
}

.schedule-item-course {
  display: flex;
  flex-direction: row;
}

.schedule-item-course-left {
  display: flex;
  flex-direction: row;
  margin-left: 28px;
}

.schedule-item-course-left-divider {
  height: 100%;
  border-right: 0.5px solid #50b1ff;
  position: relative;
  margin: 8px 0px 0px 10px;
}

.schedule-item-course-left-divider::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px #50b1ff;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: -3.5px;
}

.schedule-item-course-left-time {
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}

.schedule-item-course-right {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 12px;
}

.schedule-item-course:last-child .schedule-item-course-right {
  margin-bottom: 0px;
}

.schedule-item-course-right-tag {
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.schedule-item-course-right-tag > p {
  color: #50b1ff;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-right: 12px;
}

.schedule-item-course-right-tag > p:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 10px;
  background-color: #cccccc;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.schedule-item-course-right-name {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
}

.schedule-item-course-right-teacher {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.schedule-item-course-right-teacher-avatar {
  width: 100%;
  max-width: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.schedule-item-course-right-teacher-avatar > img {
  width: 100%;
  height: 100%;
}

.schedule-item-course-right-teacher-name {
  color: #cccccc;
  font-size: 12px;
  margin-left: 6px;
}

/* schedule rwd */
@media (max-width: 1023px) {
  .schedule {
    width: 100%;
  }

  .schedule-top {
    display: none;
  }

  .schedule-wrapper {
    overflow-y: hidden;
  }

  .schedule-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .schedule-item-header {
    width: 100%;
    max-width: 488px;
  }

  .schedule-item-course {
    width: 100%;
    max-width: 488px;
  }
}
/* schedule end */

/* reserve start */
.reserve {
  max-width: 660px;
  padding-left: 66px;
}

.reserve-title {
  color: #50b1ff;
  font-size: 30px;
}

.reserve-action {
  display: flex;
  flex-direction: row;
  margin: 16px 0px;
}

.reserve-action-select > select > option {
  position: absolute;
  bottom: 80px;
}

.reserve-content {
  max-height: calc(100% - 208px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.reserve-action-select {
  margin-right: 8px;
}

.reserve-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.reserve-item-left {
  margin-right: 20px;
}

.reserve-item-left-line {
  height: 100%;
  border-right: dashed 0.5px #cccccc;
  position: relative;
  margin-top: 6px;
}

.reserve-item-left-line::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #50b1ff;
  position: absolute;
  top: 0px;
  left: -6px;
}

.reserve-item-right {
  width: 100%;
}

.reserve-item-right-time {
  margin-bottom: 10px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}

.reserve-course {
  width: 100%;
  max-width: 500px;
  min-height: 220px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(119, 119, 119, 0.16);
  background-color: #ffffff;
  overflow: hidden;
}

.reserve-course:last-of-type {
  margin-bottom: 32px;
}

.reserve-course-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 14px;
}

.reserve-course-info-image {
  width: 100%;
  max-width: 192px;
  height: 144px;
}

.reserve-course-info-image > img {
  height: 100%;
  border-radius: 10px;
}

.reserve-course-info-content {
  display: flex;
  flex-direction: column;
  padding: 4px 12px;
}

.reserve-course-info-content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reserve-course-info-content-top-type {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: #50b1ff;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  font-size: 14px;
}

.reserve-course-info-content-top-time {
  color: #2196f3;
  font-size: 18px;
}

.reserve-course-info-content-text {
  flex: 1;
  font-size: 20px;
  color: #707070;
  font-weight: bold;
}

.reserve-course-info-content-teacher {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #707070;
}

.reserve-course-info-content-teacher-avatar {
  max-width: 45px;
  margin-right: 8px;
}

.reserve-course-info-content-teacher-avatar > img {
  width: 100%;
  height: 100%;
}

.reserve-course-action-tag {
  width: 100%;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.reserve-course-action-tag > p {
  color: #50b1ff;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-right: 12px;
}

.reserve-course-action-tag > p:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 10px;
  background-color: #cccccc;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.reserve-course-action {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 14px;
  padding-bottom: 22px;
}

.reserve-course-action > button:not(:last-child) {
  margin-right: 8px;
}

.reserve-card {
  width: 100%;
  max-width: 500px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px 12px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(119, 119, 119, 0.16);
  background-color: #ffffff;
  overflow: hidden;
}

.reserve-card:last-of-type {
  margin-bottom: 12px;
}

.reserve-card-booked {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reserve-card-booked-icon {
  width: 18px;
  height: 30px;
  margin: 0px 4px;
}

.reserve-card-booked-icon > img {
  width: 100%;
  height: 100%;
}

.reserve-card-booked-text {
  flex: 1;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}

.reserve-card-booking {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reserve-card-booking-type {
  width: 78px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  border-radius: 10px;
  background-color: #e8f5ff;
}

.reserve-card-booking-type > p {
  color: #50b1ff;
  font-size: 22px;
  text-align: center;
}

.reserve-card-booking-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 12px;
}

.reserve-card-booking-content-tag {
  width: 100%;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.reserve-card-booking-content-tag > p {
  color: #2196f3;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  margin-right: 16px;
}

.reserve-card-booking-content-tag > p:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 10px;
  background-color: #cccccc;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.reserve-card-booking-content-tag > p:last-child {
  margin-right: 0px;
}

.reserve-card-booking-content-name {
  color: #707070;
  font-size: 22px;
  font-weight: bold;
}

.reserve-card[data-is-booked="true"] .reserve-card-booking {
  display: none;
}

.reserve-card[data-is-booked="false"] .reserve-card-booked {
  display: none;
}

.reserve-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 36px;
}

.reserve-bottom-text {
  color: #707070;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .reserve {
    max-width: 100%;
  }

  .reserve-content {
    overflow-y: hidden;
  }
}

@media (max-width: 767px) {
  .reserve-title {
    font-size: 20px;
  }

  .reserve-content {
    padding-left: 8px;
  }

  .reserve-item-left {
    margin-right: 12px;
  }

  .reserve-item-right-time {
    font-size: 16px;
  }

  .reserve-card-booked-text {
    font-size: 14px;
  }

  .reserve-card-booked-icon {
    width: 12px;
    height: 24px;
  }

  .reserve-card-booking-type {
    width: 48px;
    height: 40px;
  }
  .reserve-card-booking-type > p {
    font-size: 14px;
  }

  .reserve-card-booking-content-tag > p {
    font-size: 12px;
  }

  .reserve-card-booking-content-name {
    font-size: 14px;
  }

  /* reserve card button */
  .reserve-card-booking button,
  .reserve-card-booked button {
    font-size: 12px;
  }

  .reserve-card-booking button.md,
  .reserve-card-booked button.md {
    max-width: 72px;
    height: 32px;
  }

  .reserve-card-booking button.lg,
  .reserve-card-booked button.lg {
    max-width: 72px;
    height: 32px;
  }

  .reserve-card-booking button .button-icon,
  .reserve-card-booked button .button-icon {
    display: none;
  }

  .reserve-course {
    /* max-width: 300px; */
  }

  .reserve-course-info {
    padding: 8px;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }

  .reserve-course-info-content-top {
    justify-content: center;
  }

  .reserve-course-info-content-top-time {
    font-size: 14px;
  }

  .reserve-course-info-content-teacher {
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
  }

  .reserve-course-info-content-teacher-avatar {
    margin-right: 0px;
  }

  .reserve-course-info-content-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 4px;
  }

  .reserve-course-info-image {
    max-width: 144px;
    height: 108px;
    margin-bottom: 20px;
  }

  .reserve-course-action {
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
  }

  .reserve-course-action button.lg {
    max-width: 120px;
    font-size: 14px;
    height: 32px;
  }

  .reserve-course-action button .button-icon {
    width: 18px;
    height: 18px;
  }

  .reserve-course-action-tag {
    justify-content: center;
    margin-bottom: 4px;
  }
  .reserve-course-action-tag > p {
    font-size: 14px;
  }

  .reserve-bottom-text {
    font-size: 12px;
  }
}

/* reserve end */

/* left end*/

/* right */

.right {
  width: calc(100% - 388px);
  max-width: 980px;
  display: flex;
  flex-direction: column;
}

/* left rwd */
@media (max-width: 1023px) {
  .right {
    width: 100%;
    max-width: 610px;
  }
}

@media (max-width: 767px) {
  .right {
    width: 100%;
    max-width: 480px;
  }
}

/* tab */
.tab {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.tab-item {
  width: 100%;
  max-width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  background-color: #ffffff;
  border-radius: 60px;
  cursor: pointer;
}

.tab-item .tab-item-icon {
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tab-item-icon.menu01 {
  width: 25px;
  height: 25px;
  background-image: url("../images/menu01.svg");
}

.tab-item.active > .menu01,
.tab-item:hover > .menu01 {
  background-image: url("../images/menu01_active.svg");
}

.tab-item-icon.menu02 {
  width: 32px;
  height: 26px;
  background-image: url("../images/menu02.svg");
  transform: rotate(10deg);
}

.tab-item.active > .menu02,
.tab-item:hover > .menu02 {
  background-image: url("../images/menu02_active.svg");
}

.tab-item-icon.menu03 {
  width: 34px;
  height: 28px;
  background-image: url("../images/menu03.svg");
}

.tab-item.active > .menu03,
.tab-item:hover > .menu03 {
  background-image: url("../images/menu03_active.svg");
}

.tab-item .tab-item-text {
  font-size: 20px;
  color: #707070;
}

.tab-item:hover,
.tab-item:hover > .tab-item-text {
  color: #ffffff;
  background-color: #ed4c7c;
}

.tab-item.active,
.tab-item.active > .tab-item-text {
  color: #ffffff;
  background-color: #ed4c7c;
}

/* tab rwd */
@media (max-width: 767px) {
  .tab-item {
    max-width: 108px;
    height: 28px;
  }

  .tab-item .tab-item-text {
    font-size: 14px;
  }

  .tab-item .tab-item-icon {
    margin-right: 4px;
  }

  .tab-item-icon.menu01 {
    width: 16px;
    height: 16px;
  }

  .tab-item-icon.menu02 {
    width: 16px;
    height: 14px;
  }

  .tab-item-icon.menu03 {
    width: 19px;
    height: 16px;
  }
}

/* header */
.header {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 8px;
  position: relative;
}

.header-image {
  width: 100%;
}

.header-image.monster01 {
  max-width: 16.5vw;
  margin-right: -24px;
}

.header-image.monster02 {
  max-width: 16.1vw;
  margin-right: 8px;
  margin-left: -36px;
}

.header-image-item {
  width: 100%;
  height: auto;
}

.header-level {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
}

.header-level > .header-level-image {
  width: 100%;
  max-width: 22vw;
}

.header-level > .header-level-image > img {
  width: 100%;
  height: 100%;
  transform: translateY(20px);
}

.header-level > .header-level-title {
  font-size: 1.4vw;
  color: #707070;
}

.header-level > .header-level-text {
  font-size: 2.5vw;
  color: #50b1ff;
  font-weight: bold;
}

.header-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 1.1vw 20px -60px;
  color: #707070;
  font-size: 1.12vw;
}

.header-action > .header-action-item {
  width: 4.8vw;
  cursor: pointer;
}
.header-action > .header-action-item:hover {
  color: #50b1ff;
}

.header-action > .header-action-divider {
  width: 1px;
  height: 20px;
  margin: 0px 8px;
  border-left: 1px solid #707070;
}

/* header rwd */
@media (min-width: 1440px) {
  .header-image.monster01 {
    max-width: 238px;
  }

  .header-image.monster02 {
    max-width: 232px;
  }

  .header-level > .header-level-image {
    max-width: 316px;
  }

  .header-level > .header-level-title {
    font-size: 20px;
  }

  .header-level > .header-level-text {
    font-size: 28px;
  }

  .header-action {
    font-size: 16px;
  }

  .header-action > .header-action-item {
    width: 64px;
  }
}

@media (max-width: 1023px) {
  .header {
    justify-content: space-between;
  }

  .header-image.monster01 {
    max-width: 184px;
  }

  .header-image.monster02 {
    display: none;
  }

  .header-level {
    margin-bottom: 12px;
  }

  .header-level > .header-level-image {
    max-width: 248px;
  }

  .header-level > .header-level-title {
    font-size: 16px;
  }

  .header-level > .header-level-text {
    font-size: 24px;
  }

  .header-action {
    font-size: 16px;
    margin: 0px 0px 12px 0px;
  }

  .header-action > .header-action-item {
    width: 64px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 132px;
  }

  .header-image.monster01 {
    max-width: 100px;
    margin-right: 0px;
  }

  .header-level {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
  }

  .header-level > .header-level-text {
    font-size: 20px;
  }

  .header-level > .header-level-image {
    max-width: 186px;
    margin-bottom: 16px;
  }

  .header-action {
    font-size: 12px;
  }

  .header-action > .header-action-divider {
    height: 8px;
    margin: 0px 4px;
  }

  .header-action > .header-action-item {
    width: 48px;
  }
}

/* lesson */
.lesson {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.lesson-title {
  color: #cccccc;
  font-size: 26px;
}

.lesson-carousel {
  width: 100%;
  height: 124px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 36px;
}

.lesson-carousel::after {
  content: "";
  width: 100%;
  border-top: 1px solid #cccccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lesson-carousel-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 12.5vw;
  transform: translateY(16px);
  z-index: 1;
}

.lesson-carousel-content-unit {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.lesson-carousel-content-unit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.lesson-carousel-content-unit-item.active
  > .lesson-carousel-content-unit-item-dot {
  width: 20px;
  height: 20px;
  background-color: #ed4c7c;
  border: 4px solid #eeeeee;
}

.lesson-carousel-content-unit-item.active
  > .lesson-carousel-content-unit-item-text {
  color: #ed4c7c;
}

.lesson-carousel-content-unit-item.active::before {
  content: "本週課程";
  width: 80px;
  height: 28px;
  border-radius: 4px;
  background-color: #fc8aac;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  top: -48px;
}

.lesson-carousel-content-unit-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 10px 0 10px;
  border-color: #fc8aac transparent transparent transparent;
  position: absolute;
  top: -24px;
}

.lesson-carousel-content-unit-item-dot {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 50%;
  margin-bottom: 8px;
}

.lesson-carousel-content-unit-item-text {
  color: #707070;
  font-size: 20px;
  font-weight: bold;
}

/* lesson carousel rwd */
@media (min-width: 1440px) {
  .lesson-carousel-content {
    margin: 0px 180px;
  }
}

@media (max-width: 1023px) {
  .lesson-title {
    color: #50b1ff;
    font-size: 16px;
  }

  .lesson-carousel {
    height: auto;
  }

  .lesson-carousel-content-unit-item.active::before,
  .lesson-carousel-content-unit-item.active::after {
    display: none;
  }

  .lesson-carousel-content-unit-item-text {
    font-size: 14px;
  }

  .lesson-carousel-content-unit-item-dot {
    width: 10px;
    height: 10px;
  }

  .lesson-carousel-content-unit-item.active
    > .lesson-carousel-content-unit-item-dot {
    width: 17px;
    height: 17px;
  }

  .lesson-carousel-content {
    margin: 0px 96px;
    transform: translateY(12px);
  }
}

@media (max-width: 767px) {
  .lesson-carousel-content {
    margin: 0px 40px;
  }
}

/* lesson unit */
.lesson-unit {
  width: 100%;
}

.lesson-unit-image {
  position: absolute;
  left: 36px;
  top: 0px;
}

/* lesson unit info */
.lesson-unit-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(237, 76, 124, 0.1);
  padding-bottom: 20px;
  overflow: hidden;
}

.lesson-unit-info-title {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 16px;
}

.lesson-unit-info-title-text {
  width: 184px;
  height: 42px;
  background-color: #fc8aac;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lesson-unit-info-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 0px 28px;
  z-index: 1;
}

.lesson-unit-info-content-title {
  color: #ed4c7c;
  font-size: 26px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 14px;
}

.lesson-unit-info-content-text {
  width: 100%;
  color: #707070;
  font-size: 16px;
  text-align: center;
  z-index: 1;
}

/* lesson unit info rwd */
@media (max-width: 1023px) {
  .lesson-unit-image {
    width: 184px;
    height: 120px;
  }

  .lesson-unit-info-title {
    margin-bottom: 8px;
  }

  .lesson-unit-info-title-text {
    width: 112px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .lesson-unit-info-content-title {
    font-size: 18px;
  }

  .lesson-unit-info-content-text {
    font-size: 12px;
  }
}

/* lesson unit course */
.lesson-unit-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 40px 0px;
}
/* lesson unit course rwd */
@media (max-width: 1023px) {
  .lesson-unit-course {
    padding-top: 0px;
  }
}

/* course */
.course {
  display: flex;
  flex-direction: row;
  padding: 0px 24px;
}

.course-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3vw;
}

.course-info-content {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-right: 20px;
}

.course-info-content-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.course-info-content-status-check {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(207, 100%, 66%);
  border-radius: 50%;
}

.course-info-content-status-check > img {
  width: 12.6px;
  height: 9.8px;
}

.course-info-content-status-text {
  color: #707070;
  font-size: 1.15vw;
  margin-left: 8px;
}

.course-info-content-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #707070;
  font-size: 1.25vw;
  font-weight: bold;
}

.course-info-divider {
  width: 1px;
  height: 100%;
  border-right: 0.5px dashed #cccccc;
  position: relative;
}

.course-info-divider::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #50b1ff;
  border-radius: 50%;
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translateX(-50%);
}

/* 對於深色的 course 做不同 style - start*/
.course.enhance .course-info {
  padding-right: 20px;
}

.course.enhance .course-info-divider {
  display: none;
}
/* 對於深色的 course 做不同 style - end */

/* 對於未出席的 course 做不同 style - start */
.course[data-is-attend="false"] .course-info-content-status-check {
  background-color: #cccccc;
}
.course[data-is-attend="false"] .course-info-divider::before {
  background-color: #cccccc;
}
/* 對於未出席的 course 做不同 style - end */

/* course rwd */
@media (min-width: 1440px) {
  .course-info {
    padding-right: 64px;
  }
  .course-info-content-status-text {
    font-size: 16px;
  }

  .course-info-content-time {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .course {
    flex-direction: column;
    margin-left: 48px;
    position: relative;
  }

  .course:first-of-type {
    margin-top: 4px;
    padding-top: 20px;
  }

  .course-info {
    justify-content: flex-start;
    margin-left: -48px;
    margin-bottom: 12px;
  }

  .course-info-content {
    flex-direction: row;
    margin-top: 0px;
  }

  .course-info-content-time {
    flex-direction: row;
    font-size: 16px;
  }

  .course-info-content-time > .date {
    margin-right: 4px;
  }

  .course-info-divider {
    position: absolute;
    left: -13px;
    top: 0px;
  }

  .course-info-divider::before {
    display: none;
  }

  .course-info-content-status {
    margin-right: 12px;
    margin-bottom: 0px;
  }

  .course-info-content-status-check {
    width: 26px;
    height: 26px;
    margin-right: 18px;
    z-index: 1;
  }

  .course-info-content-status-text {
    font-size: 16px;
  }

  .lesson .course:not(:last-child).enhance > .course-card {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .course {
    padding: 0px 14px;
    margin-left: 32px;
  }

  .course-info {
    margin-left: -36px;
  }

  .course-info-content-status-check {
    margin-right: 16px;
  }

  .course-info-divider {
    left: -10px;
  }
}

/* 為了跟其他頁面的 course 做區隔所以加上 lesson  */
.lesson .course:not(:last-child) .course-card {
  margin-bottom: 30px;
}

/* lesson enhance course */
.lesson-enhance {
  width: 100%;
  background-color: #c6e1f6;
}

.lesson-enhance-title {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.lesson-enhance-title-text {
  width: 184px;
  height: 42px;
  background-color: #2299ee;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 42px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lesson-enhance-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 40px 0px;
}

/* lesson enhance rwd */
@media (max-width: 1023px) {
  .lesson-enhance-title {
    margin-bottom: 8px;
  }

  .lesson-enhance-title-text {
    width: 112px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .lesson-enhance-course {
    padding-top: 0px;
  }
}

/* story */
.story {
  margin-top: 40px;
}

.story-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 8px;
}

.story-header-image.toy01 {
  max-width: 230px;
}

.story-header-image.toy02 {
  max-width: 252px;
}

.story-header-image-item {
  width: 100%;
  height: auto;
}

.story-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px -60px 32px -20px;
}

.story-header-title-text {
  color: #50b1ff;
  font-size: 36px;
  font-weight: bold;
}

.story-header-title-image {
}

.story-header-title-image > img {
  width: 100%;
  height: 100%;
}

.story-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 28px 52px 96px 52px;
  background-color: #bde3fa;
  border-radius: 20px;
  position: relative;
  background-image: url("../images/bg_story.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.story-content-image {
  position: absolute;
}

.story-content-image.image01 {
  width: 100%;
  max-width: 102px;
  left: 168px;
  bottom: -40px;
}

.story-content-image.image01 > img {
  width: 100%;
}

.story-content-image.image02 {
  width: 100%;
  max-width: 70px;
  right: -12px;
  top: 74px;
}

.story-content-image.image02 > img {
  width: 100%;
}

.story-course-wrapper {
  flex-basis: 386px;
  display: flex;
  justify-content: center;
}

.story-course {
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-course-image {
  width: 136px;
  display: flex;
  justify-content: center;
  position: relative;
}

.story-course-image:after {
  content: "";
  width: 288px;
  height: 148px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.story-course-image > img {
  width: 100%;
  height: 100%;
  transform: translateY(16px);
  z-index: 2;
}

.story-course-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(119, 119, 119, 0.16);
  z-index: 1;
}

.story-course-card-tag {
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 6.8px;
  margin-bottom: 12px;
}

.story-course-card-tag > p {
  color: #50b1ff;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-right: 12px;
}

.story-course-card-tag > p:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 10px;
  background-color: #cccccc;
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.story-course-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-course-card-info-time {
  color: #2196f3;
  font-size: 18px;
}

.story-course-card-info-name {
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -16px;
}

.story-course-card-teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(28px);
}

.story-course-card-teacher-name {
  color: #cccccc;
  font-size: 16px;
  margin-bottom: 7px;
}

.story-course-card-teacher-avatar {
  width: 62px;
}
.story-course-card-teacher-avatar > img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px #ffffff;
}

.story-course-card-image {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.story-course-card-image > img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .story-header-title-text {
    font-size: 24px;
  }

  .story-header-image.toy01 {
    max-width: 160px;
  }

  .story-header-image.toy02 {
    max-width: 180px;
  }

  .story-header-title {
    margin: 0px -40px 24px -20px;
  }

  .story-header-title-image {
    max-width: 210px;
  }

  .story-content {
    padding-bottom: 36px;
  }

  .story-content-image.image01 {
    max-width: 82px;
    left: 68px;
  }

  .story-content-image.image02 {
    max-width: 58px;
  }
}

@media (max-width: 767px) {
  .story-header-image.toy01 {
    max-width: 120px;
  }

  .story-header-image.toy02 {
    max-width: 140px;
  }

  .story-header-title-image {
    max-width: 144px;
  }

  .story-header-title-text {
    font-size: 20px;
  }

  .story-content {
    padding: 12px 10px 35px 10px;
  }

  .story-course {
    max-width: 320px;
  }

  .story-content-image.image02 {
    max-width: 40px;
  }

  .story-course-card-info-name {
    font-size: 18px;
    padding: 0px 12px;
  }

  .story-course-card-image {
    max-width: 280px;
  }
}
