.modal-layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .layout {
    align-items: flex-start;
  }
}

.update-modal {
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* update-level-modal rwd */
@media (max-width: 767px) {
  .update-modal {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.modal-header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fc8aac;
}

.modal-header-title {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 8px;
}

.modal-header-underline {
  width: 45px;
  border-bottom: 5px solid #ffffff;
}

/* header rwd */
@media (max-width: 767px) {
  .modal-header {
    height: 72px;
  }
  .modal-header-title {
    font-size: 24px;
  }
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-level-text {
  font-size: 16px;
  color: #707070;
}

.update-level-text.question {
  margin-top: 36px;
  margin-bottom: 28px;
}

.update-level-text.level-title {
}

.update-level-text.level-text {
  color: #fc8aac;
  font-size: 24px;
}

.update-level-text.update-level {
  margin-top: 20px;
}

.modal-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.modal-action-button {
  margin: 0px 8px;
}

.level-select {
  margin-top: 16px;
}

.level-select > .nice-select-dropdown .list {
  max-height: 120px;
  overflow-y: scroll;
}
